@import (css) url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import '~antd/es/style/themes/default.less';

  :global {
    body {
      font-family: 'Comfortaa', cursive;
    }
    .ant-btn-primary{
      background: #2c3d63;
      border-color:  #2c3d63;
      border-radius: 10px;
    }
    .ant-btn-primary:hover{
      background: #2c3d63;
      border-color:  #2c3d63;
      border-radius: 10px;
    }
    //.ant-btn-primary:active{
    //  background: #2c3d63;
    //  border-color:  #2c3d63;
    //  border-radius: 10px;
    //}
    .ant-btn-primary:focus{
      background: #2c3d63;
      border-color:  #2c3d63;
      border-radius: 10px;
    }

  }


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: auto;
}

.innerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid grey;
}

.image {
  width: 100px;
  height: 100px;
}

.buttonContainer {
  display: flex;
}

.button {
  align-self: center;
  width: 100px;
  margin-right: 20px;
  border-radius: 10px;
}

.help {
  color: #5f7096;
  background: transparent;
  border: transparent;
}

.help:hover {
  color:#5f7096;
  background: transparent;
}

.search {
  align-self: center;
  width:50%;
  margin: 10px;
}

.subHeader {
  //position: fixed;
  //top: 100px;
  //left: 10px;
  margin-top: 2%;
  color: grey;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-left: 10%;
}

.resultText {
  color: black;
  font-weight: 700;
  text-decoration: underline ;
}

.mainBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}


.card{
  width: 600px;
  height: 200px;
  background: #f9f3ec;
  border-radius: 10px;
}

.innerCard {
  padding: 20px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.cardTitle {
  display: flex;
  flex-direction: row;
}

.itemImage {
  width: 100px;
  height: 100px;
  padding: 0;
  //background: red;
  border-radius: 10px;
}

.itemDescription{
  //margin-top: 30px;
  margin-left: 30px;
  padding: 10px;
  //background: cadetblue;
}

.description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  padding-bottom: 20px;
}

.amount {
  margin-right: 0;
}

.finalAmount{
  margin: 0;
  color: #2c3d63;
  font-weight: 400;
  font-size: 24px;
}

.initialAmount {
  margin: 0;
  padding: 0 10px;
  color: #5f7096;
  font-weight: 400;
  font-size: 18px;
  text-decoration: line-through;
}

.heading {
  margin: 10px 0;
}

.product {
  color: #2c3d63;
  font-weight: 300;
  font-size: 21px;
}

.category {
  margin-left: 10px;
  color: #5f7096;
  font-weight: 400;
  font-size: 16px;
}

.storeName {
  margin: 0 50px;
  color: #2c3d63;
  font-weight: 300;
  font-size: 16px;
}



